html body {
  position: relative;
  padding: 0 5%;
  min-height: 100%;
  height: auto;
}

html h1 {
  padding-top: 24px;
}

html hr {
  margin-bottom: 12px;
}

#react-content {
  padding-bottom: 90px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  text-align: center;
}

#footer a {
  color: #999;
}
